* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#carouselExampleControls {
    background: url(../Images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#carouselExampleControls .carousel-inner img {
    filter: drop-shadow(10px 10px 15px black);
    border-radius: 1%;
}
#quienesSomos {
    background-color: rgb(35, 35, 35);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-direction: column;
}
#quienesSomos .quienesSomos__titulo {
    padding: 30px;
    font-size: 60px;

}
#quienesSomos .quienesSomos__parrafo {
    padding: 70px;
    color: whitesmoke;
}
#footer {
    background-color: rgba(0, 0, 0, 0.938);
    display: flex;
    color: whitesmoke;
    padding: 10px;
    justify-content: start;
    font-size: 17px;
}
#footer .footer__titulo {
    padding: 10px;
}
#footer .footer__contacto ul{
    list-style: none;

        
}
#footer .footer__contacto a {
    text-decoration: none;
    color: whitesmoke;
}
#iniciarSesion {
    background: url(../Images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 30vh;
    padding-left: 70vh;
    display: flex;
    flex-direction: column;
}
#iniciarSesion .ingresa {
    width: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    gap: 10vh;
    background-color: black;
    padding: 3vh;
    border-radius: 5%;
    filter: drop-shadow(10px 10px 15px black);
}
#iniciarSesion .ingresa h1 {
    font-size: 10vh;
}
#iniciarSesion .input {
    display: grid;
    width: 10%;
    gap: 3vh;
    padding-left: 25vh;
}
#iniciarSesion .input input {
    padding: 1vh;
    border-radius: 2%;
}




